.button
{
-fx-background-color: transparent;
-fx-background-radius: 60;
-fx-border-color: black;
-fx-border-radius: 60;
-fx-text-fill: black;
}


.button:hover
{
-fx-background-color: black;
-fx-background-radius: 60;
-fx-border-color: black;
-fx-border-radius: 60;
-fx-text-fill: white;
}