.button
{
-fx-background-color:
        linear-gradient(to top left,#006261,black);

-fx-background-radius: 40;
-fx-text-fill: white


}


.button:hover
{
-fx-background-color:
        linear-gradient(to top right,black , #006261 );
-fx-text-fill: white
}