.button
{
-fx-background-color:
 linear-gradient(to top left  ,black,transparent,black);
-fx-text-fill: black;
-fx-background-radius: 20;
-fx-border-color: black;
-fx-border-radius: 20;
}

.button:hover
{
-fx-background-color:
 linear-gradient(to top right,black,transparent,black);
-fx-text-fill: black;
-fx-background-radius: 20;
-fx-border-color: black;
-fx-border-radius: 20;

}